NEXT_PUBLIC_SUPABASE_URL=https://yqibiwseqxizedkkxviu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxaWJpd3NlcXhpemVka2t4dml1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMTg4NzAsImV4cCI6MjA5Mjc5NDg3MH0.8zkve-as6U7FKGrk9Ghy0-eWNlguPFJfOYRXtfvBhZE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxaWJpd3NlcXhpemVka2t4dml1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzIxODg3MCwiZXhwIjoyMDkyNzk0ODcwfQ.3LM9Sn2gTciZjaNtcCIbw6MlFPrV93d2U-VtyauKm0A
ADMIN_PASSWORD=Road$tar@1021-paul
NEXTAUTH_SECRET=as7Kx9mPqL2nRvT4wYdJ8cBhZeUfGiNs
NEXTAUTH_URL=https://autoshifthouston.com